<div class="bcb vh-100 flex-y ma">
  <div class="topbar">
    <div style="flex: 1">
      255
    </div>
    <div class="flex-x-c" style="flex: 1">
      <span class="fs-25">
        {{Time| date:'yyyy/MM/dd HH:mm:ss'}}
      </span>
    </div>
    <div class="flex" style="flex: 1">
      <button mat-raised-button color="primary" (click)="UpdateTables()">{{'Save'|translate}}</button>

      <button mat-raised-button color="primary" (click)="OpenFunMenu()">{{'Function'|translate}}</button>
    </div>
  </div>
  <app-table-selecter style="flex-basis: 100%; flex-grow: 1;overflow: hidden;" (TableClickEmitter)="TableClick($event)">
  </app-table-selecter>
  <div class="footer">
    footer
  </div>
</div>