<div class="body fs-28">
  <button mat-raised-button color="primary" class="functionbutton">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="border-width: 10px;border-color: rgb(235, 213, 168);border-style: solid;">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="border-width: 10px;border-color: rgb(235, 213, 168);border-style: solid;">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="border-width: 10px;border-color: rgb(235, 213, 168);border-style: solid;">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="border-width: 10px;border-color: rgb(235, 213, 168);border-style: solid;">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="border-width: 10px;border-color: rgb(235, 213, 168);border-style: solid;">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="background-color: rgb(75, 213, 255);border-width: 10px;border-color: rgb(111, 255, 92);border-style: solid;">{{'Login'|translate}}</button>
  <button mat-raised-button color="primary" class="functionbutton"
    style="background-color: rgba(253, 75, 75, 0.671); border-width: 10px;border-color: rgb(107, 66, 255);border-style: solid;">{{'Login'|translate}}</button>
</div>