<div class="bcb vh-100 flex-x-cc ma">
  <form class="box flex-y-cc" #LoginForm="ngForm">
    <span class="fs-30">{{'Login'|translate}}</span>
    <div class="mt-20 flex-x-c">
      <mat-form-field appearance="outline">
        <mat-label>{{'UserName'|translate}}</mat-label>
        <input matInput placeholder="Placeholder" name="Account" type="text" [(ngModel)]="LoginModel.Account" required
          minlength="4" #Account="ngModel">
        <mat-hint style="color:red">
          <div *ngIf="Account.invalid && (Account.dirty || Account.touched)">
            <div *ngIf="Account?.errors.required">
              Account is required.
            </div>
            <div *ngIf="Account?.errors.minlength">
              Account must be at least 4 characters long.
            </div>
          </div>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="mt-20 flex-x-c">
      <mat-form-field appearance="outline">
        <mat-label>{{'Password'|translate}}</mat-label>
        <input matInput placeholder="Placeholder" name="Password" type="password" [(ngModel)]="LoginModel.Password"
          required minlength="4" autocomplete="true" #Password="ngModel">
        <mat-hint style="color:red">
          <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
            <div *ngIf="Password?.errors.required">
              Account is required.
            </div>
            <div *ngIf="Password?.errors.minlength">
              Account must be at least 4 characters long.
            </div>
          </div>
        </mat-hint>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="Login()"
      [disabled]="!LoginForm.form.valid">{{'Login'|translate}}</button>
  </form>
  <!-- <form #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="Account" required [(ngModel)]="LoginModel.Account" name="Account"
        #Account="ngModel">
      <div [hidden]="Account.valid || Account.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="Password" [(ngModel)]="LoginModel.Password" required name="Password">
    </div>

    <button type="button" class="btn btn-default">New Hero</button>
  </form> -->
</div>