<div *ngIf="InitialPoint" class="DragMenuBox"
  [ngStyle]="{'transform':'translate3d('+InitialPoint.X+'px, '+InitialPoint.Y+'px, 0px)'}" cdkDrag
  [cdkDragBoundary]="DragBoundary" (cdkDragEnded)="dragEnded($event)">
  <button mat-fab color="primary" [matMenuTriggerFor]="animals">Menu</button>
  <div class="Draghandle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Language">Language</button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button> -->
  </mat-menu>

  <mat-menu #Language="matMenu">
    <button mat-menu-item (click)="ChangLang('en-US')">English</button>
    <button mat-menu-item (click)="ChangLang('zh-Hant')">繁體中文</button>
  </mat-menu>

  <!--<mat-menu #invertebrates="matMenu">
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
  </mat-menu>

  <mat-menu #fish="matMenu">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
  </mat-menu>

   <mat-menu #amphibians="matMenu">
    <button mat-menu-item>Sonoran desert toad</button>
    <button mat-menu-item>Western toad</button>
    <button mat-menu-item>Arroyo toad</button>
    <button mat-menu-item>Yosemite toad</button>
  </mat-menu>

  <mat-menu #reptiles="matMenu">
    <button mat-menu-item>Banded Day Gecko</button>
    <button mat-menu-item>Banded Gila Monster</button>
    <button mat-menu-item>Black Tree Monitor</button>
    <button mat-menu-item>Blue Spiny Lizard</button>
    <button mat-menu-item disabled>Velociraptor</button>
  </mat-menu> -->
</div>