/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft JhengHei";
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@for $i from 18 through 30 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}
@for $i from 0 through 30 {
  .br-#{$i} {
    border-radius: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}
.ma {
  margin: auto;
}
.vh-100 {
  height: 100vh;
}
.flex-x {
  display: flex;
}
.flex-x-c {
  display: flex;
  justify-content: center;
}
.flex-x-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.flex-y-c {
  display: flex;
  flex-direction: column;
}
.flex-y-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 86400s;
  transition: color 86400s ease-out, background-color 86400s ease-out;
}
input:-webkit-autofill {
  animation: autofill-fix 1s infinite;
  -webkit-text-fill-color: rgb(0, 0, 0);
}
.posrelative {
  position: relative;
}

.Padding0 .mat-dialog-container {
  padding: 0px !important;
}

// .ng-valid[required],
// .ng-valid.required {
//   border-left: 5px solid #42a948; /* green */
// }
// .ng-invalid:not(form).ng-touched {
//   border-left: 5px solid #a94442; /* red */
// }
// @keyframes autofill-fix  {
//   0% {
//     background-color: red;
//   }
//   100% {
//     background-color: red;
//   }
// }
