<div class="Container">
  <div class="AreasContainer flex-y">
    <div *ngFor="let item of AreaList; let i = index" class="flex-x-c mt-5">
      <button mat-raised-button color="primary" style="width: 90%; height: 50px;">{{item.AreaName}}</button>
    </div>
  </div>
  <div class="TablesContainer">
    <app-table *ngFor="let item of [1,2,3,4,5]; let i = index" [tableName]="item" DragBoundary=".TablesContainer"
      [Round]="item%2">
    </app-table>
    <!-- <div *ngFor="let item of [7,2,3,4,5]; let i = index" class="example-box" cdkDragBoundary=".TablesContainer" cdkDrag>
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      Table {{item}}
    </div> -->
  </div>
</div>